# Remainder of Task

### This script contains the following points:

#### 
####
####

In [2]:
#import libraries
import pandas as pd
import numpy as np
import os

In [4]:
#import the pickle file
path = '/Users/kimballwightman/Documents/CareerFoundry/Instacart Basket Analysis'

In [5]:
orders_products_combined = pd.read_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_combined.pkl'))

In [6]:
#check the data
orders_products_combined.head()

,order_id,user_id,user_order_num,order_day_of_week,order_hour_of_day,days_since_prior_order,first_order,product_id,add_to_cart_order,reordered,_merge
0,2539329,1,1,2,8,NaN,True,196,1,0,both
1,2539329,1,1,2,8,NaN,True,14084,2,0,both
2,2539329,1,1,2,8,NaN,True,12427,3,0,both
3,2539329,1,1,2,8,NaN,True,26088,4,0,both
4,2539329,1,1,2,8,NaN,True,26405,5,0,both

In [7]:
orders_products_combined.shape

(32119213, 11)

In [8]:
#merge this df with df_prods
df_prods = pd.read_csv(os.path.join(path, '02 Data', 'Prepared Data', 'products_checked.csv'), index_col = False)

In [11]:
df_prods = df_prods.drop(columns=['Unnamed: 0'])

In [12]:
df_prods.head()

,product_id,product_name,aisle_id,department_id,prices
0,1,Chocolate Sandwich Cookies,61,19,5.8
1,2,All-Seasons Salt,104,13,9.3
2,3,Robust Golden Unsweetened Oolong Tea,94,7,4.5
3,4,Smart Ones Classic Favorites Mini Rigatoni Wit...,38,1,10.5
4,5,Green Chile Anytime Sauce,5,13,4.3

Both sets have a product_id, so I'll merge the sets on 'product_id' with the merge flag argument. I'll need to drop the merge column from orders_products_combined before the merge on these two dataframes.

In [18]:
orders_products_combined = orders_products_combined.drop(columns=['_merge'])

In [19]:
orders_products_merged = orders_products_combined.merge(df_prods, on = 'product_id', indicator = True)

In [20]:
#confirm the results of the merge
orders_products_merged['_merge'].value_counts()

both          32089823
left_only            0
right_only           0
Name: _merge, dtype: int64

In [21]:
#export the new dataframe
orders_products_merged.to_pickle(os.path.join(path,'02 Data','Prepared Data','orders_products_merged.pkl'))